<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6hXTcb7lqEDVQPHDIRuKhrC-ji7tSWKg</string>
	<key>GCM_SENDER_ID</key>
	<string>676378878175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FuelCalculatorBY</string>
	<key>PROJECT_ID</key>
	<string>fuel-calculator-belarus</string>
	<key>STORAGE_BUCKET</key>
	<string>fuel-calculator-belarus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676378878175:ios:886f80cc848c2bc26fc96a</string>
</dict>
</plist>